# ignore everything
/*

# Readme
!.gitignore
!README.md

# folders
!communication/
communication/*
!communication/*.py
communication/Testing.py

!ImageProcessing/
ImageProcessing/*
!ImageProcessing/*.py

!Inference/
Inference/*
!Inference/*.py

!ImageProcessing/config/
ImageProcessing/config/*
!ImageProcessing/config/*.json

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log