# ignore everything
/*

# Readme
!.gitignore
!README.md

# folders
!communication/
communication/*
!communication/*.py
communication/Testing.py

!image_processing/
image_processing/*
!image_processing/*.py

!Inference/
Inference/*
!Inference/*.py

!image_processing/calibration_data/
image_processing/calibration_data/*
!image_processing/calibration_data/*.json

!KMRcode/
KMRcode/*
!KMRcode/*.java

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log