# ignore everything
/*

# Readme
!.gitignore
!README.md

# folders
!communication/
!communication/*

# Ignore the images folder and its contents
communication/images/
communication/images/*

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log